@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body {
  background-color: #ffdf8c;
}
.container {
  max-width: 1220px;
  border-radius: 10px;
  margin: 50px auto;
  padding: 0 10px;
  background-color: #fff;
  padding-top: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  column-gap: 80px;
  padding: 50px;
}

span {
  font-size: 50px;
  margin-left: 10px;
}

b {
  background-color: #fe5f1e;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  height: 22px;
  left: 3px;
  line-height: 22px;
  position: relative;
  top: -1px;
  width: 22px;
}

.logo {
  display: flex;
  align-items: center;
  margin: 15px 0 0 15px;
}

a {
  text-decoration: none;
  font-size: 50px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 50px 0;
  color: black;
}

li {
  background-color: #f9f9f9;
  cursor: pointer;
  border-radius: 30px;
  padding: 20px;
}

.menu__item {
  background-color: #000;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s;
  padding: 20px;
  color: #fff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.cart-item {
  background-color: #fbab7e;
  padding: 15px 25px;
  border-radius: 40px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

span {
  font-family: 'VT323', monospace;
  color: #000;
}

.box-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.pizza-items {
  width: 100%;
  border-radius: 50%;
}

.logo__img {
  width: 50px;
}

.box {
  text-align: center;
  max-width: 250px;
  min-height: 300px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.box h2 {
  padding-top: 20px;
  font-weight: 700;
  font-size: 20px;
}

.btn {
  font-size: 15px;
  color: tomato;
  background-color: #fff;
  border: 2px solid tomato;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
  padding: 12px 20px;
}

.notfound {
  font-size: 60px;
  text-align: center;
  padding: 50px 0 90px;
  line-height: 70px;
}

@media (max-width: 1300px) {
  .container {
    margin: 0 auto;
    border-radius: 0;
  }
}

@media (max-width: 1020px) {
  .menu {
    width: 900px;
    padding: 50px 10px;
  }
  .categories {
    overflow: auto;
    position: relative;
    z-index: 100;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .header__inner {
    flex-direction: column;
  }
  .cart {
    margin-top: 20px;
  }
}
