@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body {
  background-color: #ffdf8c;
}

.container {
  max-width: 1220px;
  border-radius: 10px;
  margin: 50px auto;
  padding: 0 10px;
  background-color: #fff;
  padding-top: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  column-gap: 80px;
  padding: 50px;
}

.logo__title {
  font-size: 50px;
  margin-left: 10px;
}

.emptyPizza {
  font-family: 'Montserrat', sans-serif;
  padding: 24px;
  font-size: 33px;
}

b {
  background-color: #fe5f1e;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  height: 22px;
  left: 3px;
  line-height: 22px;
  position: relative;
  top: -1px;
  width: 22px;
}

.logo {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.sort__label {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.menu {
  color: black;
}

.menu li + li {
  margin-left: 20px;
}

li {
  background-color: #f9f9f9;
  cursor: pointer;
  border-radius: 30px;
  padding: 20px;
}

.menu__item {
  background-color: #000;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s;
  padding: 20px;
  color: #fff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.input__el {
  margin-right: auto;
  margin-left: 40px;
  position: relative;
}

.input__el svg {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0.3;
  transition: all 0.3s;
  cursor: pointer;
}

.input__el svg:hover {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 1;
}

.header__input {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  width: 300px;
  border-radius: 10px;
  font-size: 16px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.cart-item {
  background-color: #fbab7e;
  padding: 15px 25px;
  border-radius: 40px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

span {
  font-family: 'VT323', monospace;
  color: #000;
}

.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 50px 0 50px;
}

.sort__list {
  font-size: 16px;
  color: #fe5f1e;
  cursor: pointer;
  border-bottom: 1px dashed #fe5f1e;
}

.box-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.pizza-items {
  width: 100%;
  border-radius: 50%;
}

.logo__img {
  width: 50px;
}

.box {
  text-align: center;
  max-width: 250px;
  min-height: 300px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.box h2 {
  padding-top: 20px;
  font-weight: 700;
  font-size: 20px;
}

.btn {
  font-size: 15px;
  color: tomato;
  background-color: #fff;
  border: 2px solid tomato;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
  padding: 12px 20px;
}

.btn:hover {
  background-color: tomato;
  color: #fff;
}

.btn:hover b {
  background-color: #fff;
  color: tomato;
}

.btn:active {
  transform: translateY(-3px);
}

.notfound {
  font-size: 33px;
  text-align: center;
  padding: 50px 0 90px;
  line-height: 40px;
  padding-top: 130px;
  font-family: 'Montserrat', sans-serif;
}

.sort {
  position: relative;
}

.sort__popup {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 9%);
  margin-top: 15px;
  padding: 10px 0;
  position: absolute;
  right: 0;
}

.sort__popup li {
  border-radius: 0;
  background-color: #fff;
  width: 150px;
}

.sort__popup ul li.active {
  color: #fe5f1e;
  background: rgba(254, 95, 30, 0.05);
  font-weight: 700;
}

.notfound__text {
  margin-top: 10px;
  font-size: 19px;
  opacity: 0.6;
}

.notfound__img {
  width: 30%;
  margin-top: 20px;
}

.pagination {
  width: 250px;
  padding: 20px;
}

.pagination ul {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.pagination a {
  display: inline-block;
}

.pagination li {
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  border: 1px solid #fe5f1e;
  color: #fe5f1e;
  width: 40px;
  padding: 0;
  margin-right: 10px;
  height: 40px;
}

.pagination li a {
  width: 40px;
  height: 40px;
}

.pagination li:hover {
  background-color: #fe5f1e;
  color: #fff;
}

ul .selected {
  background-color: #fe5f1e;
  color: #fff;
}

@media (max-width: 1300px) {
  .container {
    margin: 0 auto;
    border-radius: 0;
  }
}

@media (max-width: 1170px) {
  .categories {
    flex-direction: column;
  }
  .sort {
    margin-top: 20px;
  }
}

@media (max-width: 1020px) {
  .menu {
    width: 780px;
    margin: 0 auto;
    padding: 20px 0 0;
  }

  .categories {
    padding: 20px;
  }

  .categories__scroll {
    overflow: auto;
    position: relative;
    z-index: 100;
    width: 100%;
  }
}

@media (max-width: 745px) {
  .header__inner {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  .input__el {
    margin: 0 auto;
    width: 350px;
  }
}

@media (max-width: 550px) {
  .header__main {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .header__inner {
    flex-direction: column;
  }
  .cart {
    margin-top: 20px;
  }
  .input__el {
    width: 200px;
  }
  .header__input {
    width: 150px;
  }

  .pagination {
    padding: 0;
    width: 100%;
  }

  .header__main {
    flex-wrap: wrap;
  }
  .pagination ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
